# Workflow de Pull Request Automatizado para Node.js
# Cria ou atualiza um PR (develop -> main) e inclui o resumo de cobertura se dispon铆vel.
name: Node.js Auto Pull Request

on:
  workflow_call:
    inputs:
      base_branch:
        description: 'Branch de destino do PR (e.g., main).'
        required: false
        default: 'main'
        type: string
      head_branch:
        description: 'Branch de origem do PR (e.g., develop).'
        required: false
        default: 'develop'
        type: string
    # secrets:
    #   GITHUB_TOKEN:
    #     description: 'Token GITHUB_TOKEN para permiss玫es de PR.'
    #     required: true

jobs:
  create_or_update_pr:
    name: Criar/Atualizar PR (develop -> main)
    runs-on: ubuntu-latest
    
    steps:
      # 1. Checkout do Reposit贸rio Consumidor
      # Necess谩rio para baixar artefatos e garantir que estamos no repo correto.
      - name: 猬锔 Checkout do C贸digo Consumidor
        uses: actions/checkout@v4

      # 2. Checkout do Reposit贸rio de Templates (Onde a Action 'pr' vive)
      # ESSENCIAL: Clonamos o reposit贸rio 'ci-reusable' em uma subpasta 'templates-repo'
      - name: 猬锔 Checkout do Reposit贸rio de Templates (Actions)
        uses: actions/checkout@v4
        with:
          repository: heliomarpm/ci-reusable # Seu reposit贸rio de templates
          ref: 'main' # ${{ github.ref }} # Mant茅m a refer锚ncia da branch de chamada
          path: template-repo
          token: ${{ secrets.GITHUB_TOKEN }} # Necess谩rio se o reposit贸rio for privado

      # 3. 猸锔 CORREO: Instalar as depend锚ncias da Action PR 猸锔
      - name:  Instalar Depend锚ncias da Action PR
        run: npm install
        # Entra no diret贸rio da action e executa 'npm install'
        working-directory: templates-repo/.github/workflows/actions/common/pr

      - name:  Baixar Resumo de Cobertura (Opcional)
        uses: actions/download-artifact@v4
        with:
          name: coverage-summary
          path: coverage # O local onde foi publicado no test.yml

      - name:  Criar ou Atualizar Pull Request
        uses: ./templates-repo/.github/workflows/actions/common/pr
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          base_branch: ${{ inputs.base_branch }}
          head_branch: ${{ inputs.head_branch }}
          coverage_summary_path: coverage/coverage-summary.json